<div class="container-fluid mt-3">
    <div class="row">
        
        <div class="card col-4 bg-success text-light ">
            <div class="d-flex justify-content-between">
                <div>Bénéfices</div>
                <div><%= "#{@benefices}EUR" %></div>
            </div>
        </div>

        <div class="card col-4 bg-primary text-light">
            <div class="d-flex justify-content-between">
                <div>Loyers</div>
                <div><%= "#{@loyers}EUR" %></div>
            </div>
        </div>

        <div class="card col-4 bg-info text-light">
            <div class="d-flex justify-content-between">
                <div>Syndics</div>
                <div><%= "#{@syndics}EUR" %></div>
            </div>
        </div>

        <div class="card col-4 bg-warning text-light">
            <div class="d-flex justify-content-between">
                <div>Taxes</div>
                <div><%= "#{@taxes}EUR" %></div>
            </div>
        </div>

        <div class="card col-4 bg-danger text-light">
            <div class="d-flex justify-content-between">
                <div>Pertes</div>
                <div><%= "#{@pertes}EUR" %></div>
            </div>
        </div>

        <div class="card col-4 bg-secondary text-light">
            <div class="d-flex justify-content-between">
                <div>Garanties</div>
                <div><%= "#{@garanties}EUR" %></div>
            </div>
        </div>
        
    </div>
</div>